@model MezzexEye.Models.PaginatedScreenCaptureDataViewModel

@{
    var selectedDate = ViewBag.SelectedDate as string ?? DateTime.Today.ToString("yyyy-MM-dd");
}



<!-- Screen Capture Cards -->
<div id="screenCaptureData">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.ScreenCaptures)

        {
            <div class="col">
                <div class="card">
                    <img src="@item.ImageUrl"
                         class="card-img-top img-thumbnail"
                         alt="Screenshot"
                         data-bs-toggle="modal"
                         data-bs-target="#imageModal"
                         data-bs-username="@item.Username"
                         data-bs-img="@item.ImageUrl"
                         data-bs-timestamp="@item.Timestamp"
                         data-bs-taskname="@(!string.IsNullOrWhiteSpace(item.TaskName) ? item.TaskName : "Task Not Start")"
                         data-bs-comment="@(!string.IsNullOrWhiteSpace(item.Comment) ? item.Comment : " No Comment")"
                         data-page="@Model.CurrentPage" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Username</h5>
                        <p class="card-text">
                            <strong>Created Time:</strong> @item.Timestamp<br />
                            <strong>System Name:</strong> @item.SystemName<br />
                            <strong>Task Name:</strong>@(!string.IsNullOrWhiteSpace(item.TaskName) ? item.TaskName : " No Running Task")  <br />
                            <strong>Task Comment:</strong> @(!string.IsNullOrWhiteSpace(item.Comment) ? item.Comment : " No Comment")<br />
                            <strong>Address:</strong> @(!string.IsNullOrWhiteSpace(item.ActualAddress) ? item.ActualAddress : " Address Not Found")<br />
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.CurrentPage - 1)&username=@ViewBag.SelectedUsername&date=@ViewBag.SelectedDate&taskName=@ViewBag.SelectedTaskName&mediaType=@ViewBag.MediaType">«</a>
                </li>
            }

            @foreach (var pageNumber in Model.PageNumbers)
            {
                <li class="page-item @(pageNumber == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@pageNumber&username=@ViewBag.SelectedUsername&date=@ViewBag.SelectedDate&taskName=@ViewBag.SelectedTaskName&mediaType=@ViewBag.MediaType">@pageNumber</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.CurrentPage + 1)&username=@ViewBag.SelectedUsername&date=@ViewBag.SelectedDate&taskName=@ViewBag.SelectedTaskName&mediaType=@ViewBag.MediaType">»</a>
                </li>
            }
        </ul>
    </nav>
</div>
